### Lets load the divvy bike data set using regular pandas.

In [1]:
import pandas as pd
import time
def load_data(filename):
    start=time.time()
    df=pd.read_csv(filename)
    print(f"time to run query {time.time()-start}")
    return df
df=load_data("data/202004-divvy-tripdata.csv")

time to run query 0.21310019493103027

### Lets take a quick look at the resulting dataframe

In [2]:
df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,A847FADBBC638E45,docked_bike,2020-04-26 17:45:14,2020-04-26 18:12:03,Eckhart Park,86,Lincoln Ave & Diversey Pkwy,152.0,41.8964,-87.6610,41.9322,-87.6586,member
1,5405B80E996FF60D,docked_bike,2020-04-17 17:08:54,2020-04-17 17:17:03,Drake Ave & Fullerton Ave,503,Kosciuszko Park,499.0,41.9244,-87.7154,41.9306,-87.7238,member
2,5DD24A79A4E006F4,docked_bike,2020-04-01 17:54:13,2020-04-01 18:08:36,McClurg Ct & Erie St,142,Indiana Ave & Roosevelt Rd,255.0,41.8945,-87.6179,41.8679,-87.6230,member
3,2A59BBDF5CDBA725,docked_bike,2020-04-07 12:50:19,2020-04-07 13:02:31,California Ave & Division St,216,Wood St & Augusta Blvd,657.0,41.9030,-87.6975,41.8992,-87.6722,member
4,27AD306C119C6158,docked_bike,2020-04-18 10:22:59,2020-04-18 11:15:54,Rush St & Hubbard St,125,Sheridan Rd & Lawrence Ave,323.0,41.8902,-87.6262,41.9695,-87.6547,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
84771,200E9CDFC5685AA0,docked_bike,2020-04-16 16:10:16,2020-04-16 16:23:11,Dearborn Pkwy & Delaware Pl,140,Dearborn Pkwy & Delaware Pl,140.0,41.8990,-87.6299,41.8990,-87.6299,member
84772,F58A8F2ABCB5D95B,docked_bike,2020-04-30 17:56:12,2020-04-30 18:15:21,Kimbark Ave & 53rd St,322,Cottage Grove Ave & 51st St,351.0,41.7996,-87.5947,41.8030,-87.6066,casual
84773,A3754693A80E4913,docked_bike,2020-04-24 19:57:33,2020-04-24 21:50:43,Sedgwick St & Schiller St,236,Wells St & Elm St,182.0,41.9076,-87.6386,41.9032,-87.6343,casual
84774,D610CABB67F7B744,docked_bike,2020-04-02 17:59:55,2020-04-02 18:42:26,Damen Ave & Charleston St,310,Damen Ave & Charleston St,310.0,41.9201,-87.6779,41.9201,-87.6779,casual
84775,79634521ABE4CF69,docked_bike,2020-04-04 01:31:27,2020-04-04 01:37:27,Clybourn Ave & Division St,138,Clybourn Ave & Division St,138.0,41.9046,-87.6406,41.9046,-87.6406,casual

In [3]:
import bodo

# Now lets bodoize this code, simply add
 import bodo
 <br>@bodo.jit decorator to the function that needs to be converted.
 <br>Bodo will automatically compile the code and optimize it. Additionally, it will leverage MPI and make the single threaded pandas code distributable and parallel.
 <br>Lets do a conversion below.

In [4]:
import pandas as pd
import time
import bodo
@bodo.jit(cache=True) 
def load_data_bodo(filename):
    start=time.time()
    df=pd.read_csv(filename)
    print(f"time to run query {time.time()-start}")
    return df
df=load_data_bodo("data/202004-divvy-tripdata.csv")

time to run query 0.786115

In [5]:
df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,A847FADBBC638E45,docked_bike,2020-04-26 17:45:14,2020-04-26 18:12:03,Eckhart Park,86,Lincoln Ave & Diversey Pkwy,152,41.8964,-87.6610,41.9322,-87.6586,member
1,5405B80E996FF60D,docked_bike,2020-04-17 17:08:54,2020-04-17 17:17:03,Drake Ave & Fullerton Ave,503,Kosciuszko Park,499,41.9244,-87.7154,41.9306,-87.7238,member
2,5DD24A79A4E006F4,docked_bike,2020-04-01 17:54:13,2020-04-01 18:08:36,McClurg Ct & Erie St,142,Indiana Ave & Roosevelt Rd,255,41.8945,-87.6179,41.8679,-87.6230,member
3,2A59BBDF5CDBA725,docked_bike,2020-04-07 12:50:19,2020-04-07 13:02:31,California Ave & Division St,216,Wood St & Augusta Blvd,657,41.9030,-87.6975,41.8992,-87.6722,member
4,27AD306C119C6158,docked_bike,2020-04-18 10:22:59,2020-04-18 11:15:54,Rush St & Hubbard St,125,Sheridan Rd & Lawrence Ave,323,41.8902,-87.6262,41.9695,-87.6547,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
84771,200E9CDFC5685AA0,docked_bike,2020-04-16 16:10:16,2020-04-16 16:23:11,Dearborn Pkwy & Delaware Pl,140,Dearborn Pkwy & Delaware Pl,140,41.8990,-87.6299,41.8990,-87.6299,member
84772,F58A8F2ABCB5D95B,docked_bike,2020-04-30 17:56:12,2020-04-30 18:15:21,Kimbark Ave & 53rd St,322,Cottage Grove Ave & 51st St,351,41.7996,-87.5947,41.8030,-87.6066,casual
84773,A3754693A80E4913,docked_bike,2020-04-24 19:57:33,2020-04-24 21:50:43,Sedgwick St & Schiller St,236,Wells St & Elm St,182,41.9076,-87.6386,41.9032,-87.6343,casual
84774,D610CABB67F7B744,docked_bike,2020-04-02 17:59:55,2020-04-02 18:42:26,Damen Ave & Charleston St,310,Damen Ave & Charleston St,310,41.9201,-87.6779,41.9201,-87.6779,casual
84775,79634521ABE4CF69,docked_bike,2020-04-04 01:31:27,2020-04-04 01:37:27,Clybourn Ave & Division St,138,Clybourn Ave & Division St,138,41.9046,-87.6406,41.9046,-87.6406,casual

# We saw how simple it was to take a sample pandas code and bodoize it.
Now,Lets run the bodoized code on a cluster.
<br> We will leverage IpyParallel to create a 2 core cluster.
<br> Run the below example to create a 2 core cluster. Bodo community version allows you to scale upto 8- cores without a need for a license
<br> With an enterprise license, Bodo can scale to 1000s of cores.

## Lets run this on a Bodo cluster
Select the Bodo Parallel Kernel to run the cells below
<br><img src="images/kernel.png" alt="drawing" height="300" width="300"/>

# Now we have a cluster with multiple cores, you can set n to any other value (based on number of cores available)
To execute bodo code and python code against this cluster, simply use the %%px magic

In [1]:
%%px
import pandas as pd
import time
import bodo
@bodo.jit(cache=True)
def load_data_bodo(filename):
    start=time.time()
    df=pd.read_csv(filename)
    print(f"time to run query {time.time()-start}")
    return df
df=load_data_bodo("data/202004-divvy-tripdata.csv")

Starting 6 engines with <class 'bodo_platform_ipyparallel_kernel.launcher.BodoPlatformMPIEngineSetLauncher'>
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 6/6 [00:06<00:00,  1.07s/engine]
%px:   0%|                                                                                                                                                                                                    | 0/6 [00:06<?, ?tasks/s]

[stdout:0] time to run query 0.213415

%px: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 6/6 [00:06<00:00,  1.16s/tasks]

# Great, we have run a parallel and distributed bodo code on a cluster with 2 Ranks.
Each that is part of a bodo (mpi) cluster is called a rank. Bodo ensures that code and data are evenly distributed across these ranks for a faster scalable and distributed data processing.

<br>Lets quickly inspect data in the ranks

In [2]:
%%px --targets 0
df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,A847FADBBC638E45,docked_bike,2020-04-26 17:45:14,2020-04-26 18:12:03,Eckhart Park,86,Lincoln Ave & Diversey Pkwy,152,41.8964,-87.6610,41.9322,-87.6586,member
1,5405B80E996FF60D,docked_bike,2020-04-17 17:08:54,2020-04-17 17:17:03,Drake Ave & Fullerton Ave,503,Kosciuszko Park,499,41.9244,-87.7154,41.9306,-87.7238,member
2,5DD24A79A4E006F4,docked_bike,2020-04-01 17:54:13,2020-04-01 18:08:36,McClurg Ct & Erie St,142,Indiana Ave & Roosevelt Rd,255,41.8945,-87.6179,41.8679,-87.6230,member
3,2A59BBDF5CDBA725,docked_bike,2020-04-07 12:50:19,2020-04-07 13:02:31,California Ave & Division St,216,Wood St & Augusta Blvd,657,41.9030,-87.6975,41.8992,-87.6722,member
4,27AD306C119C6158,docked_bike,2020-04-18 10:22:59,2020-04-18 11:15:54,Rush St & Hubbard St,125,Sheridan Rd & Lawrence Ave,323,41.8902,-87.6262,41.9695,-87.6547,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14125,8166833EB70EADA5,docked_bike,2020-04-04 16:47:49,2020-04-04 17:11:03,Spaulding Ave & Division St,510,Spaulding Ave & Division St,510,41.9027,-87.7092,41.9027,-87.7092,member
14126,DE78778C63C20AF6,docked_bike,2020-04-10 23:22:03,2020-04-10 23:37:09,Green St & Madison St,198,Wells St & Elm St,182,41.8819,-87.6488,41.9032,-87.6343,member
14127,5B48BF73C4DB8DF1,docked_bike,2020-04-10 19:35:39,2020-04-10 19:54:08,Wells St & Elm St,182,Green St & Madison St,198,41.9032,-87.6343,41.8819,-87.6488,member
14128,1734E1F50C12573B,docked_bike,2020-04-28 14:58:39,2020-04-28 15:05:21,Kingsbury St & Erie St,74,Ogden Ave & Race Ave,186,41.8938,-87.6417,41.8918,-87.6588,member
14129,2606475EA9B757D2,docked_bike,2020-04-02 16:27:27,2020-04-02 16:40:11,Wabash Ave & Grand Ave,199,LaSalle St & Washington St,98,41.8915,-87.6268,41.8827,-87.6325,casual

In [3]:
%%px --targets 1
df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
14130,069DCB6BEE8F6140,docked_bike,2020-04-30 18:55:33,2020-04-30 19:05:16,Morgan St & 31st St,280,State St & 33rd St,148,41.8378,-87.6511,41.8347,-87.6258,casual
14131,C34EC7634F8E09EE,docked_bike,2020-04-19 13:49:03,2020-04-19 14:25:00,Sangamon St & Washington Blvd,233,Honore St & Division St,17,41.8832,-87.6511,41.9031,-87.6739,casual
14132,244780781237BD13,docked_bike,2020-04-12 11:56:44,2020-04-12 12:31:54,Desplaines St & Kinzie St,56,Desplaines St & Kinzie St,56,41.8887,-87.6444,41.8887,-87.6444,casual
14133,E6A0E76FF0A50A42,docked_bike,2020-04-02 16:52:18,2020-04-02 16:57:02,Damen Ave & Pierce Ave,69,Honore St & Division St,17,41.9094,-87.6777,41.9031,-87.6739,casual
14134,E94B372D60C7CAE1,docked_bike,2020-04-05 15:42:53,2020-04-05 15:55:00,Calumet Ave & 33rd St,149,Indiana Ave & 26th St,147,41.8349,-87.6179,41.8457,-87.6225,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
28255,7B2B469D910FCB21,docked_bike,2020-04-10 15:11:37,2020-04-10 15:23:39,Milwaukee Ave & Grand Ave,84,Ashland Ave & Lake St,119,41.8916,-87.6484,41.8859,-87.6672,member
28256,DCE02594466F6FC4,docked_bike,2020-04-05 15:48:06,2020-04-05 16:14:20,Mies van der Rohe Way & Chicago Ave,173,Lake Shore Dr & Belmont Ave,334,41.8969,-87.6217,41.9408,-87.6392,casual
28257,8F5E5AAD3C26DA98,docked_bike,2020-04-30 17:24:33,2020-04-30 17:47:56,Dearborn St & Erie St,110,Ashland Ave & Wrightwood Ave,166,41.8940,-87.6293,41.9288,-87.6685,member
28258,A80DBA91D6A1EAA6,docked_bike,2020-04-10 18:44:42,2020-04-10 18:45:05,Clark St & Schiller St,301,Clark St & Schiller St,301,41.9080,-87.6315,41.9080,-87.6315,member
28259,F30AB6CA297D4AF8,docked_bike,2020-04-11 15:52:56,2020-04-11 16:26:47,Wabash Ave & Grand Ave,199,Sheffield Ave & Fullerton Ave,67,41.8915,-87.6268,41.9256,-87.6537,casual

Notice how the divvy csv data has been distributed across the ranks.
The bodo function has taken a single threaded pandas function and converted into distributed codes, which produced a distributed dataframe.
Unlike databricks or spark, bodo dataframes always stay distributed, even when converted back to python, Lets see a quick example.

In [4]:
%%px
import time
def groupbymember_casual(column_name,df):
    start=time.time()
    gdf=df.groupby(column_name,as_index=False)["ride_id"].count()
    print(f"time for group by bodo {time.time()-start}")
    return gdf
gdf=groupbymember_casual(["member_casual"],df)

[stdout:1] time for group by bodo 0.0044023990631103516

[stdout:4] time for group by bodo 0.0057489871978759766

[stdout:0] time for group by bodo 0.0071048736572265625

[stdout:3] time for group by bodo 0.006403923034667969

[stdout:2] time for group by bodo 0.00655817985534668

[stdout:5] time for group by bodo 0.006192922592163086

In [5]:
%%px
gdf

Out[1:4]:
  member_casual  ride_id
0        casual     4222
1        member     9908

Out[0:4]:
  member_casual  ride_id
0        casual     4125
1        member    10005

Out[5:3]:
  member_casual  ride_id
0        casual     3436
1        member    10693

Out[2:3]:
  member_casual  ride_id
0        casual     3992
1        member    10137

Out[4:3]:
  member_casual  ride_id
0        casual     3811
1        member    10318

Out[3:3]:
  member_casual  ride_id
0        casual     4042
1        member    10087

Notice, how the dataframe was grouped and counted for rides, based on the member_casual value.
<br>The above function though was not jitted, so it ran as a regular pandas function.
<br>Though did this return the required output, it was not the right answer to this problem. 
<br> pandas was only able to give you the counts for chunk on each of the rank. It did not have the capability to treat this chunked data set spread across multiple cores as a single dataframe <br>and calculate the answer.
<br>How do we do this calculation across the data present in all the ranks? simple, add the @bodo.jit decorator to the function.

In [6]:
%%px
import time
@bodo.jit(cache=True)
def groupbymember_casual(column_name,df):
    start=time.time()
    gdf=df.groupby(column_name,as_index=False)["ride_id"].count()
    print(f"time for group by bodo {time.time()-start}")
    return gdf
gdf=groupbymember_casual(["member_casual"],df)

%px:   0%|                                                                                                                                                                                                    | 0/6 [00:00<?, ?tasks/s]

[stdout:0] time for group by bodo 0.006659

%px: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 6/6 [00:00<00:00, 16.58tasks/s]

In [7]:
%%px
gdf

Out[2:5]:
Empty DataFrame
Columns: [member_casual, ride_id]
Index: []

Out[5:5]:
Empty DataFrame
Columns: [member_casual, ride_id]
Index: []

Out[4:5]:
Empty DataFrame
Columns: [member_casual, ride_id]
Index: []

Out[0:6]:
Empty DataFrame
Columns: [member_casual, ride_id]
Index: []

Out[3:5]:
  member_casual  ride_id
1        casual    23628

Out[1:6]:
  member_casual  ride_id
0        member    61148

Notice how simply adding the decorator, made this simple function distributed and data was shuffled across the ranks to provide an answer to this question across the entire dataset across all the ranks.
<br> This same concept can be extended to multiple cores and to other use cases like pivoting, joins etc.

For those not familiar with pandas, we have an alternative, BodoSQL. BodoSQL takes regular sql and convert it to superfast code  that can be scalled easily across 1000s of cores. Example below

In [8]:
#%%px
import os
import time
#os.environ["CONDA_PREFIX"]="/opt/conda/"
import bodosql
@bodo.jit(cache=True)
def groupbymember_casual_sql(column_names,df):
    start=time.time()
    bc = bodosql.BodoSQLContext({"divvy": df})
    gdf=bc.sql(f"""select {column_names},count(ride_id) from divvy group by {column_names}""")
    with bodo.objmode:
        time.sleep(5)
    print(f"time for group by sql {time.time()-start}")
    return gdf
groupbymember_casual_sql("member_casual,rideable_type",df)

%px: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 6/6 [00:00<00:00, 67.61tasks/s]

[4:execute]
---------------------------------------------------------------------------
BodoError                                 Traceback (most recent call last)
Cell In[6], line 15
     13     print(f"time for group by sql {time.time()-start}")
     14     return gdf
---> 15 groupbymember_casual_sql("member_casual,rideable_type",df)

File ~/git/Bodo-get-started/miniconda3/envs/Bodo/lib/python3.9/site-packages/bodo/numba_compat.py:795, in _compile_for_args(***failed resolving arguments***)
    793     del args
    794     if error:
--> 795         raise error
    796 return vkdy__wncxe

BodoError: Unable to parse SQL Query. Error message: Unexpected Py4J Error: An error occurred while calling o46.iterator. Trace:
java.lang.reflect.InaccessibleObjectException: Unable to make public final java.util.Iterator java.util.HashMap$KeySet.iterator() accessible: module java.base does not "opens java.util" to unnamed module @5a51d695
	at java.base/java.lang.reflect.AccessibleObject.checkCanSetAccessible(AccessibleObject.java:354)
	at java.base/java.lang.reflect.AccessibleObject.checkCanSetAccessible(AccessibleObject.java:297)
	at java.base/java.lang.reflect.Method.checkCanSetAccessible(Method.java:199)
	at java.base/java.lang.reflect.Method.setAccessible(Method.java:193)
	at py4j.reflection.MethodInvoker$1.run(MethodInvoker.java:240)
	at java.base/java.security.AccessController.doPrivileged(AccessController.java:318)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:238)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.base/java.lang.Thread.run(Thread.java:833)


[0:execute]
---------------------------------------------------------------------------
BodoError                                 Traceback (most recent call last)
Cell In[7], line 15
     13     print(f"time for group by sql {time.time()-start}")
     14     return gdf
---> 15 groupbymember_casual_sql("member_casual,rideable_type",df)

File ~/git/Bodo-get-started/miniconda3/envs/Bodo/lib/python3.9/site-packages/bodo/numba_compat.py:795, in _compile_for_args(***failed resolving arguments***)
    793     del args
    794     if error:
--> 795         raise error
    796 return vkdy__wncxe

BodoError: Unable to parse SQL Query. Error message: Unexpected Py4J Error: An error occurred while calling o46.iterator. Trace:
java.lang.reflect.InaccessibleObjectException: Unable to make public final java.util.Iterator java.util.HashMap$KeySet.iterator() accessible: module java.base does not "opens java.util" to unnamed module @5a51d695
	at java.base/java.lang.reflect.AccessibleObject.checkCanSetAccessible(AccessibleObject.java:354)
	at java.base/java.lang.reflect.AccessibleObject.checkCanSetAccessible(AccessibleObject.java:297)
	at java.base/java.lang.reflect.Method.checkCanSetAccessible(Method.java:199)
	at java.base/java.lang.reflect.Method.setAccessible(Method.java:193)
	at py4j.reflection.MethodInvoker$1.run(MethodInvoker.java:240)
	at java.base/java.security.AccessController.doPrivileged(AccessController.java:318)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:238)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.base/java.lang.Thread.run(Thread.java:833)


[1:execute]
---------------------------------------------------------------------------
BodoError                                 Traceback (most recent call last)
Cell In[7], line 15
     13     print(f"time for group by sql {time.time()-start}")
     14     return gdf
---> 15 groupbymember_casual_sql("member_casual,rideable_type",df)

File ~/git/Bodo-get-started/miniconda3/envs/Bodo/lib/python3.9/site-packages/bodo/numba_compat.py:795, in _compile_for_args(***failed resolving arguments***)
    793     del args
    794     if error:
--> 795         raise error
    796 return vkdy__wncxe

BodoError: Unable to parse SQL Query. Error message: Unexpected Py4J Error: An error occurred while calling o46.iterator. Trace:
java.lang.reflect.InaccessibleObjectException: Unable to make public final java.util.Iterator java.util.HashMap$KeySet.iterator() accessible: module java.base does not "opens java.util" to unnamed module @5a51d695
	at java.base/java.lang.reflect.AccessibleObject.checkCanSetAccessible(AccessibleObject.java:354)
	at java.base/java.lang.reflect.AccessibleObject.checkCanSetAccessible(AccessibleObject.java:297)
	at java.base/java.lang.reflect.Method.checkCanSetAccessible(Method.java:199)
	at java.base/java.lang.reflect.Method.setAccessible(Method.java:193)
	at py4j.reflection.MethodInvoker$1.run(MethodInvoker.java:240)
	at java.base/java.security.AccessController.doPrivileged(AccessController.java:318)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:238)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.base/java.lang.Thread.run(Thread.java:833)


[5:execute]
---------------------------------------------------------------------------
BodoError                                 Traceback (most recent call last)
Cell In[6], line 15
     13     print(f"time for group by sql {time.time()-start}")
     14     return gdf
---> 15 groupbymember_casual_sql("member_casual,rideable_type",df)

File ~/git/Bodo-get-started/miniconda3/envs/Bodo/lib/python3.9/site-packages/bodo/numba_compat.py:795, in _compile_for_args(***failed resolving arguments***)
    793     del args
    794     if error:
--> 795         raise error
    796 return vkdy__wncxe

BodoError: Unable to parse SQL Query. Error message: Unexpected Py4J Error: An error occurred while calling o46.iterator. Trace:
java.lang.reflect.InaccessibleObjectException: Unable to make public final java.util.Iterator java.util.HashMap$KeySet.iterator() accessible: module java.base does not "opens java.util" to unnamed module @5a51d695
	at java.base/java.lang.reflect.AccessibleObject.checkCanSetAccessible(AccessibleObject.java:354)
	at java.base/java.lang.reflect.AccessibleObject.checkCanSetAccessible(AccessibleObject.java:297)
	at java.base/java.lang.reflect.Method.checkCanSetAccessible(Method.java:199)
	at java.base/java.lang.reflect.Method.setAccessible(Method.java:193)
	at py4j.reflection.MethodInvoker$1.run(MethodInvoker.java:240)
	at java.base/java.security.AccessController.doPrivileged(AccessController.java:318)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:238)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.base/java.lang.Thread.run(Thread.java:833)


[3:execute] BodoError: Unable to parse SQL Query. Error message: Unexpected Py4J Error: An error occurred while calling o46.iterator. Trace:
java.lang.reflect.InaccessibleObjectException: Unable to make public final java.util.Iterator java.util.HashMap$KeySet.iterator() accessible: module java.base does not "opens java.util" to unnamed module @5a51d695
	at java.base/java.lang.reflect.AccessibleObject.checkCanSetAccessible(AccessibleObject.java:354)
	at java.base/java.lang.reflect.AccessibleObject.checkCanSetAccessible(AccessibleObject.java:297)
	at java.base/java.lang.reflect.Method.checkCanSetAccessible(Method.java:199)
	at java.base/java.lang.reflect.Method.setAccessible(Method.java:193)
	at py4j.reflection.MethodInvoker$1.run(MethodInvoker.java:240)
	at java.base/java.security.AccessController.doPrivileged(AccessController.java:318)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:238)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.base/java.lang.Thread.run(Thread.java:833)


[2:execute] BodoError: Unable to parse SQL Query. Error message: Unexpected Py4J Error: An error occurred while calling o46.iterator. Trace:
java.lang.reflect.InaccessibleObjectException: Unable to make public final java.util.Iterator java.util.HashMap$KeySet.iterator() accessible: module java.base does not "opens java.util" to unnamed module @5a51d695
	at java.base/java.lang.reflect.AccessibleObject.checkCanSetAccessible(AccessibleObject.java:354)
	at java.base/java.lang.reflect.AccessibleObject.checkCanSetAccessible(AccessibleObject.java:297)
	at java.base/java.lang.reflect.Method.checkCanSetAccessible(Method.java:199)
	at java.base/java.lang.reflect.Method.setAccessible(Method.java:193)
	at py4j.reflection.MethodInvoker$1.run(MethodInvoker.java:240)
	at java.base/java.security.AccessController.doPrivileged(AccessController.java:318)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:238)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.base/java.lang.Thread.run(Thread.java:833)

AlreadyDisplayedError: 6 errors

Sending signal 9 to engine(s) 1671682565
Stopping controller
engine set stopped 1671682565: {'exit_code': <Negsignal.SIGKILL: -9>, 'pid': 53663, 'identifier': 'ipengine-1671682564-qw2m-1671682565-53644'}
Controller stopped: {'exit_code': 0, 'pid': 53651, 'identifier': 'ipcontroller-1671682564-qw2m-53644'}
Failed to remove /Users/karthiknarayanan/.ipython/profile_default/log/ipcontroller-1671682564-qw2m-53644.log: [Errno 2] No such file or directory: '/Users/karthiknarayanan/.ipython/profile_default/log/ipcontroller-1671682564-qw2m-53644.log'
Stopping engine(s): 1671682565

Hopefully the exercise allowed you to see how simple and powerful bodo can be. Bodo is alos versatile and offers multiple developments options like python/pandas and sql.
Run the code cell below to stop the 2 rank cluster we created.